/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
composer.lock
composer.lock
public/productImage/1486100443Eie9Eta5Ado39LWLn8UtvVX9OR648EC0KzkrZ3ksPqNn5R2sIcdO4icJa9HGJ7QTmo40O7Eaa2P8kOTBtPxD8eoypxFQVUkamDf6umZ1CYg31V.jpg
*.jpg
composer.lock
composer.lock
