/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
#currencies-block-top {
  float: right;
  margin: 0 17px 0 20px;
  position: relative; }
  @media (max-width: 767px) {
    #currencies-block-top {
      clear: right; } }
  @media (max-width: 479px) {
    #currencies-block-top {
      width: 25%; } }
  #currencies-block-top span.firstWord {
    display: none; }
  #currencies-block-top div.current {
    padding-top: 11px;
    color: black;
    cursor: pointer; }
    @media (max-width: 479px) {
      #currencies-block-top div.current {
        text-align: center;
        padding: 9px 5px 10px;
        font-size: 11px; } }
    #currencies-block-top div.current strong {
      color: #000;
      font-weight: 400;
      font-size: 12px; }
    #currencies-block-top div.current:hover, #currencies-block-top div.current.active {
      color: #777777; }
    #currencies-block-top div.current:after {
      content: "\f078";
      font-family: "FontAwesome";
      font-size: 9px;
      line-height: 10px;
      color: black;
      padding-left: 5px;
      position: relative;
      top: 0px; }
      @media (max-width: 479px) {
        #currencies-block-top div.current:after {
          padding-left: 2px; } }
    @media (max-width: 479px) {
      #currencies-block-top div.current .cur-label {
        display: none; } }
  #currencies-block-top ul {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    width: 157px;
    background: #000;
    z-index: 2; }
    #currencies-block-top ul li {
      color: white;
      line-height: 35px;
      font-size: 12px; }
      #currencies-block-top ul li a,
      #currencies-block-top ul li > span {
        padding: 0 10px 0 12px;
        display: block;
        color: white; }
      #currencies-block-top ul li.selected, #currencies-block-top ul li:hover a {
        background: #333333; }
